<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
    <title>Giỏ Hàng</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link <%= activeTab === 'home' ? 'active' : '' %>" href="/">Sản Phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= activeTab === 'cart' ? 'active' : '' %>" href="/cart">Giỏ Hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= activeTab === 'contact' ? 'active' : '' %>" href="/contact">Liên Hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= activeTab === 'login' ? 'active' : '' %>" href="/admin">Quản Trị Viên</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container"></div>
</body>

</html>